html * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#div1 > p {
	z-index: 1000;
	font-family: fantasy;
		color: white;
	background: rgb(88, 173, 153);
	padding: 10px;
	margin: auto;
	width: 20%;
}

#username {
	font-style: italic;
	text-decoration: underline;
	color: red;
	font-size: 200%;
}

body {
	background: rgb(144, 221, 205);
	font-family: 13px Helvetica, Arial;
}

form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

input.hover {
	background: white;
}

form > input {
	background: white;
	border: 0;
	padding: 10px;
	width: 89%;
	margin-right: .5%;
}

button {
	color: white;
	width: 10%;
	background: rgb(56, 122, 106);
	border: none;
	padding: 10px;
}

button:hover {
	cursor: pointer;
	background: white;
	color:black;
}

#messages {
	align-content: center;
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 110%;
	max-height: 100%;
	width: 100%;
	bottom: 50px;
	overflow: scroll;
}

#messages > li {
	font-family: arial;
	color: rgb(79, 15, 30);
	overflow: auto;
	bottom: 0;
	padding: 5px 10px;
}

li.bold {
	font-weight: bold;
}

div.users {
	color: white;
	background: rgb(188, 5, 36);
	position: absolute;
	font-family: sans-serif;
	right: 0;
	padding: 10px;
	padding-right: 50px;
	border-color: white;
}
